.message {
  max-width: 400px;
  max-height: 150px;
  overflow-x: wrap;
  background-color: hsl(0, 0%, 0%);
  display: flex;
  flex-flow: column nowrap;
  color: white;
  align-items: flex-end;
  padding: 0.25rem 0.5rem;
  border-radius: 1rem;
}

.right .message {
  background-color: green;
}

.message > .text {
  text-align: left;
  padding: 0 0.5rem;
}

.message > .timestamp {
  font-size: 0.75rem;
  padding: 0 0.5rem;
}
